<launch>

    <node name="midi_translation" pkg="drummer" type="midi_translation" output="screen">
    </node>

    <node name="pose_estimation" pkg="drummer" type="pose_estimation" output="screen">
    </node>

    <node pkg="tf" type="static_transform_publisher" name="flange_to_camera" args="0.03 -0.085 0.05 0.1830127 0.6830127 -0.1830127 0.6830127 flange camera 100" />
    
</launch>