<launch>

    <node name="midi_translation" pkg="drummer" type="midi_translation" output="screen">
    </node>

    <node name="pose_estimation" pkg="drummer" type="pose_estimation" output="screen">
    </node>

    <!-- replaced by intialize_everything -->
    <!-- <node name="camera_to_base" pkg="drummer" type="static_transform_publisher" args="1 0 0 0 0 0 1 base camera 100"> 
    </node>
 -->
    
</launch>